################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/art
/rockyclf_rockying_2021-07-19_10-51-21
/rockying.bak
/test
/mail
