<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Enabled" value="true"/>
    <add key="webpages:Version" value="2.0"/>
  </appSettings>
  <system.web>
    <trace enabled="true" localOnly="false" traceMode="SortByTime" pageOutput="false"/>
    <httpRuntime requestValidationMode="2.0" executionTimeout="300" maxRequestLength="2147483647"/>
    <pages validateRequest="false"/>
    <compilation batch="false" targetFramework="4.8" defaultLanguage="c#" debug="true">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms defaultUrl="~/default" protection="All" cookieless="UseCookies" slidingExpiration="true" timeout="43200" loginUrl="~/account/login"/>
    </authentication>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!-- MultipleFileUpload handlers -->
      <add name="Upload" verb="*" path="Upload.axd" type="MultipleFileUpload.handlers.Upload, MultipleFileUpload"/>
      <add name="FileComplete" verb="*" path="FileComplete.axd" type="MultipleFileUpload.handlers.FileComplete, MultipleFileUpload"/>
      <add name="FileError" verb="*" path="FileError.axd" type="MultipleFileUpload.handlers.FileError, MultipleFileUpload"/>
    </handlers>
    <security>
      <requestFiltering>
        <!-- In Bytes! -->
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=DESKTOP-R99M068;Initial Catalog=rockyclf_rockying;Trusted_Connection=True;MultipleActiveResultSets=true " />
    <add name="RockyingConnectionString" connectionString="Data Source=DESKTOP-R99M068;Initial Catalog=rockyclf_rockying;Trusted_Connection=True;MultipleActiveResultSets=true " />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="rajkiran@rockying.com">
        <network host="rockying.com" enableSsl="false" password="8Dk2uv2^" userName="rajkiran@rockying.com"  />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>